.login {
  width:350px;
  height:275px;
  margin: 120px auto;
  padding:35px 20px;
  background-color: $primary-grey-background;
  @include box-shadow(2px,2px,9px,5px,rgba(101,101,102,1));
  font-size:15px;

  h1 {
    margin-bottom:5px;
    color: $primary-dark-green;
  }

  input {
    display:block;
    width:300px;
    height:$form-element-height;
    margin:10px auto;
    padding:5px 10px;
    background-color: $primary-offwhite-light;
  }

  hr {
    border-color: 1px solid $primary-offwhite-dark;
  }

  .button-form {
    @extend .button;
    background-color: $primary-dark-green;
    color: $primary-offwhite-light;
  }

  span {
    display: block;
    color: $primary-offwhite-dark;
    margin-top:15px;
    font-size:12px;
  }
}
