/* imports */
@import 'reset';

/* variables */
$primary-dark-green: #00B140;
$primary-light-green: #66BD49;
$primary-grey-background: #fefefe;
$primary-offwhite-light: #F1F1F1;
$primary-offwhite-dark: #bab8b8;

$form-element-height: 35px;
$form-element-font-size: 15px;

/* mixin */
@mixin box-shadow($top, $left, $blur, $size, $color, $inset: false) {
    @if $inset {
        -webkit-box-shadow:inset $top $left $blur $size $color;
        -moz-box-shadow:inset $top $left $blur $size $color;
        box-shadow:inset $top $left $blur $size $color;
    } @else {
        -webkit-box-shadow: $top $left $blur $size $color;
        -moz-box-shadow: $top $left $blur $size $color;
        box-shadow: $top $left $blur $size $color;
    }
}


/* elements */
body {
  font-family: "lucida grande";
  background-color: $primary-light-green;
  text-align: center;
}

a {
  color: $primary-dark-green;
  text-decoration: none;
}

button {
  border:none;
  border-color:none;
}

input {
  border: none;
  border-color: transparent;
}


/* nest selectors inside other selectors */
.login {
  width:350px;
  height:275px;
  margin: 120px auto;
  padding:35px 20px;
  background-color: $primary-grey-background;
  /* mixin to apply polyfills for box-shadow */
  @include box-shadow(2px,2px,9px,5px,rgba(101,101,102,1));
  font-size:15px;

  h1 {
    margin-bottom:5px;
    color: $primary-dark-green;
  }

  input {
    display:block;
    width:300px;
    height:$form-element-height;
    margin:10px auto;
    padding:5px 10px;
    background-color: $primary-offwhite-light;
  }

  hr {
    border-color: 1px solid $primary-offwhite-dark;
  }

  .button {
    display: inline-block;
    width:45%;
    height:$form-element-height;
    margin:0 auto;
  }

  /* create subclass button-form that inherits from superclass button */
  .button-form {
    @extend .button;
    background-color: $primary-dark-green;
    color: $primary-offwhite-light;
  }

  span {
    display: block;
    color: $primary-offwhite-dark;
    margin-top:15px;
    font-size:12px;
  }
}
